/* set this on the background_frame */

#info_frame {
    background-color: rgb(46, 52, 54);
}
#strongs_lbl {
    background-color: rgb(46, 52, 54);
    color: rgb(186, 189, 182);
}
#info_lbl_title {
    color: rgb(0, 0, 0);
    background-color: rgb(233, 185, 110);
}

#background_frame {
    border-image: url(:/data/img/stairway.jpg) 0 0 0 0 stretch stretch;
} 

#splitter_bibleframe::handle {
    background-color:black;
}

#splitter_background::handle {
    background-color:black;
}

#splitter_med::handle {
    background-color:rgb(46, 52, 54);
}

#info_tb {
    color: rgb(46, 52, 54);
    background-image: url(:/data/img/notebook.jpg);
    padding-left:5px;padding-top:0px;padding-right:0px;padding-bottom:0px;
}

#strongs_tb {
    background-color: rgb(30, 49, 76);
    color: rgb(255, 255, 255);
    padding-left:7px;padding-top:0px;padding-right:0px;padding-bottom:0px;
}

#bible_frame {
    border: 1px solid grey;
    background-color:rgb(255, 255, 238);
    margin:0px;
}

#lw_chapters {
    color: rgb(57,62,66);
    background-color: transparent;
    font-weight: normal;
    show-decoration-selected: 1;
    selection-color: #9E0E0D;
    selection-background-color: lightgrey;
    margin-left:5px; margin-top:0px; margin-right:0px; margin-bottom:0px;
}

#lw_chapters::item:hover {
    color: #9E0E0D;
}

#tb_scriptures {
    border-left:0 ridge grey; border-top:2 ridge #ADA9A0;
    border-right:0 ridge grey; border-bottom:0 ridge grey;
    background-color: transparent;
    padding:0px;
    margin:0px;
}
    
#bible_frame QScrollBar::vertical {
    background-color: rgba(154, 166, 175,50);
    width:12px;
    margin:0;
}
         
#bible_frame QScrollBar::handle:vertical {
    background-color: rgba(51, 56, 60, 50);
    min-height:20px;
    margin-left:2; margin-right:1;
    margin-top:2; margin-bottom:2;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#bible_frame QScrollBar::handle:vertical:hover {
    background-color: rgba(51, 56, 60, 70);
}

#bible_frame QScrollBar::handle:vertical:pressed {
    background-color: rgba(51, 56, 60, 100);
}

#bible_frame QScrollBar::add-line:vertical, #bible_frame QScrollBar::sub-line:vertical {
    height: 0;width: 0;
}
#bible_frame QScrollBar:left-arrow:vertical,QScrollBar::right-arrow:vertical {
    height:0px;width:0px;
}
#bible_frame QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    height:0px;width:0px;
}

#bible_frame QScrollBar::horizontal {
    background-color: rgba(154, 166, 175,50);
    height: 12px;
    margin:0;
}

#bible_frame QScrollBar::handle:horizontal {
    background-color: rgba(154, 166, 175, 100);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    min-width:50px;
    margin-left:2px; margin-top:1px; margin-right:2px; margin-bottom:1px;
}

#bible_frame QScrollBar::handle:horizontal:hover { 
    background-color: rgba(154, 166, 175, 200);
}
#bible_frame QScrollBar::handle:horizontal:pressed {
    background-color: rgba(154, 166, 175, 255);
}

#bible_frame QScrollBar::add-line:horizontal, #bible_frame QScrollBar::sub-line:horizontal {
    height: 0px;
    width: 0px;
}
#bible_frame QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    height: 0px;
    width: 0px;
}
#bible_frame QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    height: 0px;
    width: 0px;
}

