/********************* WINDOWS *********************/

#ImageWindow {
    background-color: bgClr;
}
#ImageWindow QGraphicsView {
    background-color: bgClr;
}
#ImageWindow QToolBar {
    color: txtClr;
    background-color: bg2Clr;
    spacing: 7px;
    padding: 7px;
}
#ImageWindow QToolButton {
    color: txtClr;
    min-width:30px;
    max-height: 32px;
}
#ImageWindow QToolButton:hover {
    background-color: bgClr;
}
#ImageWindow QScrollBar::handle {
    background-color:bg2Clr;
    border:1px solid bgClr;
}
#ImageWindow QComboBox {
    background-color: bg2Clr;
    padding-left: 7px;
    min-width: 100px;
    max-width: 4500px;
    margin-left:3px;
    border:1px solid bgClr;
    height:30px;
}

#ParallelWindow {
    color: txtClr;
    background-color: bg2Clr;
}
#ParallelWindow QTextEdit {
    selection-background-color:clashClr;
    border: 1px solid black;
}
#ParallelWindow QScrollBar::handle {
    background-color:bg2Clr;
}

#RosterWindow {
    color: txtClr;
    background-color: bg2Clr;
}
#RosterWindow QTextEdit {
    color: txtClr;
    background-color: bgClr;
    selection-background-color:clashClr;
}
#RosterWindow QLabel {
    color: txtClr;
    background-color: bg2Clr;
}

#SettingsWindow {
    color: txtClr;
    background-color: bg2Clr;
}
#SettingsWindow QLabel {
    color: txtClr;
    background-color: bg2Clr;
}
#SettingsWindow QToolButton {
    color: txtClr;
    border:1px solid black;
    padding:5px;
    background-color: bg2Clr;
}
#SettingsWindow QToolButton:hover {
    background-color: bgClr;
}
#AboutWindow *{
    color: txtClr;
    background-color: bg2Clr;
    selection-color: nrClr;
    selection-background-color:clashClr;
}
#lblAnchor {
    background-color: bgClr;
}
#pbAut {
    color: txtClr;
    border:0px solid black;
    background-color: bg2Clr;
    font-size:8pt;
    text-align:right;
}
#pbAut:hover {
    color: nrClr;
}
#AboutWindow QScrollBar::handle {
    background-color:bgClr;
}

/********************* GLOBALS *********************/

QDialog {
    color: txtClr;
    background-color: bg2Clr;
}
QDialog *{
    color: txtClr;
    selection-background-color:clashClr;
}

QToolButton {
    border:0;
}
QToolButton:hover {
    background-color: rgba(0,0,0,10);
}

QSpinBox {
    color: txtClr;
    background-color: bgClr;
}

QPushButton {
    color: txtClr;
    background-color: bgClr;
    border:1px solid black;
    border-radius: 5px;
    padding: 3px;
}
QPushButton:hover {
    background-color: rgba(0,0,0,10);
}

QCheckBox {
    color: txtClr;
    background-color: bg2Clr;
}

QComboBox {
    color:txtClr;
    selection-color: txtClr;
    selection-background-color:bg2Clr;
    background-color: bg2Clr;
    margin:0;
    padding-left:6px;
    border:1px solid black;
}

QComboBox::drop-down {
    width: 18px;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border:0;
    padding: 3px;
}

QComboBox QAbstractItemView {
    color:txtClr;
    background-color:bgClr;
    selection-color:txtClr;
    selection-background-color:bg2Clr;
    padding: 3px;

}
QComboBox::down-arrow {
    image: url(":/data/img/qt_unshade.svg");
}

QLineEdit {
    color:txtClr;
    padding-left:6px;padding-top:0px;padding-right:0px;padding-bottom:0px;
    background-color: bgClr;
    border:1px solid black;
}

QSplitter::handle {
    background-color: black;
}

/********************* MENUS *********************/

QMenu {
    color: txtClr;
    background-color: bgClr;
    border:1px solid bg2Clr;
    padding: 3px;
    border-radius: 4px;
}
QMenu::item:selected {
    background-color: bg2Clr;
}
QMenuBar::item:hover {
    color: clashClr;
}

QMenuBar {
    color: txtClr;
    background-color: bgClr;
    border-bottom: 1px solid bg2Clr;
    spacing: 5px;
}
QMenuBar::item:selected {
    color: txtClr;
    background-color: bg2Clr;
    border-bottom:1px solid bg2Clr;
}
QMenuBar QMenu {
    color: txtClr;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


#menu_view, #menu_daily, #menu_meditation, #menu_filters,#menu_history,#menu_bookmarks,#menu_help {
    border-top:1px solid transparent;
    border-bottom: 1px solid bg2Clr;
    border-left: 1px solid bg2Clr;
    border-right:1px solid bg2Clr;
}

/********************* SCROLLBARS *********************/

QScrollBar:vertical {
    background-color: transparent;
    width:16px;
}
QScrollBar::handle:vertical {
    min-height:50px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0;width: 0;
}
QScrollBar:left-arrow:vertical,QScrollBar::right-arrow:vertical {
    height:0px;width:0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    height:0px;width:0px;
}

QScrollBar:horizontal {
    background-color: transparent;
    height: 16px;
}
QScrollBar::handle:horizontal {
    min-width:50px;
}
QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    height: 0px;
    width: 0px;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    height: 0px;
    width: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    height: 0px;
    width: 0px;
}

/********************* TAB WIDGET *********************/

#tab_contents {
color:txtClr;
background-color:bg2Clr;
}
#tab_search {
color:txtClr;
background-color:bg2Clr;
}
#tab_today {
color:txtClr;
background-color:bg2Clr;
}

#lw_books {
    show-decoration-selected:0;
    selection-background-color: bgClr;
    selection-color: titleClr;
    color: titleClr;
    background-color: bg2Clr;
    padding-left:3px;padding-top:0px;padding-right:0px;padding-bottom:0px;
    margin:0;
}
#lw_books::item:hover {
    background-color: bgClr;
}

#search_chkb_whole, #search_chkb_case {
    padding-left: 6px;
}

QTabWidget {
    color: titleClr;
    background-color: bg2Clr;
    border:0;
}
QTabWidget::tab-bar {
    width:3000px;    
}
QTabBar::tab {
    color:txtClr;
    background-color:bgClr;
    padding: 7px;
}
QTabBar::tab:selected {
    color: titleClr;
    background-color: bg2Clr;
}
QTabBar::tab:hover {
    color:nrClr;
}
#tabwidget QScrollBar::handle {
    background-color: bgClr;
    margin-right:1px;
}

#search_lbl_tl {
    color: txtClr;
    margin: 7px;
}

#search_btn_find:hover {
    border:0;
    background-color: bgClr;
}

#search_tb {
    color: txtClr;
    background-color: bg2Clr;
    padding:0;
    margin:0;
    border:1px top darkgray;
    font-weight: Normal;
    selection-background-color:clashClr;
}

#frame_today_cal QAbstractItemView {
    color: txtClr;
    background-color: bg2Clr;
    selection-background-color:clashClr;
}
#frame_today_cal QWidget {
    color: txtClr;
    background-color: bg2Clr;
    selection-background-color:clashClr;
}

#frame_today_cal QPushButton {
    background-color: bgClr;
}
#frame_today_cal QPushButton:hover {
    background-color: rgba(0,0,0,10);
}

#btn_next_session, #btn_prev_session {
    border:0;
    background-color: transparent;
}

#btn_next_session:hover, #btn_prev_session:hover {
    background-color: bgClr;
}

#pb_enc_txt {
    border: 1 solid titleClr;
    padding:2px;
}
#pb_enc_img {
    background-color: transparent;
    border: 1 solid titleClr;
    padding:2px;
}

/********************* BIBLE FRAME *********************/

#background_frame {
    background-color: darkerBg;
    border: 0;
    margin: 0;
}

#bible_frame {
    background-color: none;    
    margin: 0;
    border-left: 1 solid bg2Clr;
    border-top: 0 solid black;
    border-bottom: 0 solid black;
    border-right: 1 solid bg2Clr;
}

#booktitle_frame {
    background-color:qlineargradient(
    spread:pad, x1:0.488, y1:0, x2:0.459, y2:1, stop:0.00938967 bg2Clr, stop:1 bgClr)
}

#btn_book_title {
    font-size:24px;
    font-family:serif;
    font-style:normal;
    font-weight:400;
    margin:3px;
    padding:0px;
    color:titleClr;
    background-color: transparent;
    border:0;
}

#lw_chapters {
    color: titleClr;
    background-color: transparent;
    selection-color: titleClr;
    selection-background-color: bgClr;
    show-decoration-selected:0;
    margin-left:20px;
}
#lw_chapters::item:hover {
    background-color: bgClr;
}

#lw_chapters QScrollBar::handle {
    margin-right:1px;
    background-color:bgClr;
}

#tb_scriptures {
    background-color: bgClr;
    padding:0px;
    margin:0px;
    selection-background-color:clashClr;
}
#tb_scriptures QScrollBar::handle {
    background-color:bg2Clr;
    margin-right:1px;
}

/********************* FIND FRAME *********************/

#frame_find {
    color: txtClr;
    background-color: bg2Clr;
    border-left: 0 solid black;
    border-top: 1 solid bg2Clr;
    border-bottom:0 solid grey;
    border-right: 0 solid black;
}
#frame_find QLabel {
    color: txtClr;
    background-color: transparent;
}
#frame_find QComboBox {
    border:0px;
}

/********************* INFO FRAME *********************/

#info_frame {
    background-color:bg2Clr;
}
#info_tb, #strongs_tb {
    color: txtClr;
    background-color: bg2Clr;
    selection-background-color:clashClr;
}
#info_frame QLabel, #info_frame QToolButton {
    color:titleClr;
    background-color:bgClr;
    border:0;
}
#info_tb QScrollBar::handle, #strongs_tb QScrollBar::handle {
    background-color: bgClr;
    margin-right:1px;
}
