/********************* WINDOWS *********************/

#ImportWindow QTextEdit {
    padding: 3px;
}
#ImportWindow QLabel {
    padding: 3px;
}
#ImportWindow QLineEdit {
    padding: 3px;
}

#ImageWindow QToolBar {
    spacing: 7px;
    padding: 7px;
}
#ImageWindow QToolButton {
    min-width: 30px;
    max-height: 32px;
}

#SettingsWindow QToolButton {
    padding: 5px;
}

#AboutWindow QTextEdit {
    background-color: transparent;
}
#AboutWindow QTabBar {
    background-color: bg2Clr;
}
#AboutWindow QTabWidget::pane {
    border: 0px;
    border-top: 1px solid bg2Clr;
}
#AboutWindow QTabBar::tab {
    border: 1px solid bgClr;
    padding: 5px;
}
#AboutWindow QTabBar::tab:selected {
    background-color: bgClr;
    margin-left: -4px;
    margin-right: -4px;
}

#pbAut {
    border: 0;
    font-size: 8pt;
    text-align: right;
}

/********************* GLOBALS *********************/

QInputDialog {
    padding: 7px;
}

QPushButton {
    padding: 5px;
}
QPushButton:hover {
    background-color: clashClr;
}

QToolButton:hover {
    background-color: clashClr;
}

QComboBox {
    padding-left: 6px; padding-top: 3px; padding-right: 3px; padding-bottom: 3px;
}
QComboBox QAbstractItemView {
    background-color: bg2Clr;
}

QLineEdit {
    padding-left: 6px; padding-top: 3px;padding-right: 3px;padding-bottom: 3px;
}
QLineEdit:selected {
    border: 1px solid clashClr;
}

/********************* TAB WIDGET *********************/

#tab_contents {
    background-color: bgClr;
}
#tab_search {
    background-color: bgClr;
}
#tab_today {
    background-color: bgClr;
}

#lw_books {
    color: txtClr;
    background-color: bgClr;
    selection-color: txtClr;
    selection-background-color: clashClr;
    show-decoration-selected: 0;
    padding-left: 3px; padding-top: 3px; padding-right: 0px; padding-bottom: 0px;
    margin: 0;
}

#lw_books::item:hover {
    background-color: clashClr;
}

#search_chkb_whole, #search_chkb_case {
    padding-left: 6px;
}

#QTabWidget {
    background-color: bg2Clr;
}
QTabWidget::tab-bar {
    width: 3000px;
}

#search_lbl_tl {
    margin: 7px;
}

#search_tb {
    padding: 0;
    margin: 0px;
    font-weight: Normal;
}

#btn_next_session, #btn_prev_session {
    border:0;
    background-color: transparent;
}

#btn_next_session:hover, #btn_prev_session:hover {
    background-color: clashClr;
}

#pb_enc_txt {
    border: 1 solid titleClr;
    color: txtClr;
    background-color: bg2Clr;
    font-family: sans;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}
#pb_enc_img {
    border: 1 solid titleClr;
}

/********************* BIBLE FRAME *********************/

#background_frame {
    background-color: darkerBg;
}
#bible_frame {
    background-color: bgClr;
}
#lbl_book_title {
    font-size: 22px;
    font-weight: 400;
    border: 0;
    margin: 0px;
    padding: 0px;
}
#lw_chapters {
    margin: 0;
    padding-left: 15px;
    show-decoration-selected: 1;
    background: transparent;
}
#lw_chapters::item:hover {

}
#tb_scriptures {
    margin: 0px;
}

/********************* INFO FRAME *********************/

#info_frame QPushButton {

}
#info_frame QPushButton:hover {

}
