/********************* WINDOWS *********************/

#ParallelWindow {
}
#ParallelWindow QTextEdit {
    border: 1px solid black;
}
#ParallelWindow QScrollBar::handle {
}

#RosterWindow {
}
#RosterWindow QTextEdit {
}
#RosterWindow QLabel {
}

#SettingsWindow {
}
#SettingsWindow QLabel {
}

#AboutWindow *{
}
#lblAnchor {
}
#pbAut {
    border:0px solid black;
    font-size:8pt;
    text-align:right;
}
#pbAut:hover {
}
#AboutWindow QScrollBar::handle {
}

/********************* GLOBALS *********************/

QDialog {
}
QDialog *{
}

QToolButton {
    border:0;
}

QSpinBox {
}

QPushButton {
    border:1px solid black;
    border-radius: 5px;
    padding: 3px;
}
QPushButton:hover {
    background-color: rgba(0,0,0,10);
}

QCheckBox {
}

QComboBox QAbstractItemView {
}

QComboBox {
    margin:0;
    padding-left:6px;padding-top:0px;padding-right:0px;padding-bottom:0px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}
QComboBox::drop-down {
    width: 20px;
    border: 0;
}
QComboBox::down-arrow {
    image: url(:/data/img/bullet_arrow_down.png);
}

QLineEdit {
    padding-left:6px;padding-top:0px;padding-right:0px;padding-bottom:0px;
    border:1px solid black;
}

QSplitter::handle {
    background-color: black;
}

/********************* MENUS *********************/

QMenu {
    border:1px solid black;
    padding: 3px;
    border-radius: 4px;
}
QMenu::item:selected {
}

QMenuBar {
    border-bottom: 1px solid black;
    spacing: 5px;
}
QMenuBar::item:selected {
    border-bottom:1px solid black;
}
QMenuBar QMenu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
#menu_view, #menu_todays_reading, #menu_meditation, #menu_filters,#menu_history,#menu_bookmarks,#menu_help {
    border-top:1px solid transparent;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}

/********************* SCROLLBARS *********************/

QScrollBar:vertical {
    width:14px;
    margin:0;
}
QScrollBar::handle:vertical {
    min-height:20px;
    margin:0;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0;width: 0;
}
QScrollBar:left-arrow:vertical,QScrollBar::right-arrow:vertical {
    height:0px;width:0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    height:0px;width:0px;
}

QScrollBar:horizontal {
    height: 14px;
    margin:0;
}
QScrollBar::handle:horizontal {
    min-width:50px;
    margin:0;
}
QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    height: 0px;
    width: 0px;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    height: 0px;
    width: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    height: 0px;
    width: 0px;
}

/********************* TAB WIDGET *********************/

#tab_contents {
}
#tab_search {
}
#tab_today {
}

#lw_books {
    show-decoration-selected:0;
    font-weight: bold;
    padding-left:3px;padding-top:0px;padding-right:0px;padding-bottom:0px;
    margin:0;
}
#lw_books::item:hover {
}

#search_chkb_whole, #search_chkb_case {
    padding-left: 6px;
}

QTabWidget {
    border:0;
}

QTabWidget::tab-bar {
    width:3000px;
}

QTabBar::tab {
    padding: 4px;
    border-top: 0px solid #C4C4C3;
    border-bottom: 0px solid #C4C4C3;
    border-left: 0px solid #C4C4C3;
    border-right:0px solid #C4C4C3;
    color:black;
    background-color:none;
}
QTabBar::tab:selected {
    color:black;
    background-color:white;
}
QTabBar::tab:hover {
}

#search_lbl_tl {
    margin: 7px;
}

#search_btn_find:hover {
    border:0;
}

#search_tb {
    padding:0;
    margin:0;
    border:1px top darkgray;
    font-weight: Normal;
}

#frame_today_cal QAbstractItemView {
}
#frame_today_cal QWidget {
}

#frame_today_cal QPushButton {
}
#frame_today_cal QPushButton:hover {
    background-color: rgba(0,0,0,10);
}

#btn_next_session, #btn_prev_session {
    border:0;
    background-color: transparent;
}

#btn_next_session:hover, #btn_prev_session:hover {
}

#pb_enc_txt {
    border: 1 solid black;
    padding:2px;
}
#pb_enc_img {
    background-color: transparent;
    border: 1 solid black;
    padding:2px;
}

#tabwidget QScrollBar::handle {
}

/********************* BIBLE FRAME *********************/

#background_frame {
    border: 0;
    margin: 0;
}

#bible_frame {
    border: 0;
    margin: 0;
}

#booktitle_frame {
    background-color:white;
}

#btn_book_title {
    border:0 ;
}

#lw_chapters {
    show-decoration-selected:0;
    border-left: 0 solid grey;
    border-top: 0 solid grey;
    border-bottom:1 solid grey;
    border-right: 0 solid grey;
}
#lw_chapters::item:hover {
}
#lw_chapters QScrollBar::handle {
}

#tb_scriptures {
    padding:0px;
    margin:0px;
}
#tb_scriptures QScrollBar::handle {
}

/********************* FIND FRAME *********************/

#frame_find {
    border-left: 0 solid grey;
    border-top: 1 solid black;
    border-bottom:0 solid grey;
    border-right: 0 solid grey;
}
#frame_find QLabel {
    background-color: transparent;
}

/********************* INFO FRAME *********************/

#info_frame {
}

#info_tb, #strongs_tb {
}

#info_frame QLabel, #info_frame QToolButton {
    border:0;
}

#info_tb QScrollBar::handle, #strongs_tb QScrollBar::handle {
}
